# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/FE/dist
/FE/tmp
/FE/out-tsc

# dependencies
/FE/node_modules

# IDEs and editors
/BE/.idea
/BE/.project
/BE/.classpath
/BE/.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
/BE/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
/FE/npm-debug.log
testem.log
/FE/typings

# e2e
/FE/e2e/*.js
/FE/e2e/*.map

# System Files
.DS_Store
Thumbs.db
